#folderdiv {
 	position: fixed;
 	overflow: auto;
 	top: 6.4em;
 	width: 15em;
 	height: 100%;
 	background: #F8F8F8;
 	border-right: 1px solid #DDD;
 	list-style: none;
}

.folder_head {
  	cursor: default;
    background: #FDFDFD;
    border-bottom: 1px solid #F2F2F2;
    padding: .7em .8em !important;
    color: #888;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.folder {
   padding: .5em 1.8em;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;	
}

.folder_sel {
   background: #E8E8E8;
   border-top: 1px solid #CCC;	
   border-bottom: 1px solid #FEFEFE;
   font-weight: bold;
   font-size: 90%;
}

.folder_hover {
      background: #EAEAEA;
}


#headersdiv {
  position: absolute;
  top: 6.4em;
  left: 27.5em;
  width: 19em;	
}

li.header {
	display: block;
	overflow: hidden;
	height: 6em;
	line-height: 1.2em;
	border-left: 1px solid #DDD;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	font-size: 85%;
	padding: 5px 3px 3px 15px;
}

span.header_subject {
    white-space: nowrap;
    color: #333;	
}

span.header_body {
	color: #666;
}

li.header_new {
    background: #F0F0F0;
    border-bottom: 1px solid #DDD;
}

li.mehrmails {
	text-align: center;
	vertical-align: middle;
	display: block;
	overflow: hidden;
	height: 6em;
	color: #008;
	border-left: 1px solid #DDD;
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	font-size: 85%;	
}